.min-w-select {
  min-width: 300px;
}

.bg-primary-color {
  background-color: #354f52;
}

.table-primary-color {
  --bs-table-bg: #354f52;
  --bs-table-color-state: #fff;
}

.lista-botones li {
  margin-bottom: 1em;
  padding: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-botones li:last-child {
  margin-bottom: 0;
}

.filtros {
  padding: 5px;
  min-width: 200px;
}

.boton {
  background-color: #354f52;
  color: #fff;
}

.pagination {
  margin-top: 20px;
}

.page-link {
  color: #354f52;
  background-color: #fff;
  border: 1px solid #354f52;
  font-weight: 400;
}

.page-link:hover {
  background-color: #354f52;
  color: #fff;
}

.page-item.active .page-link {
  background-color: #354f52;
}
