#drop-area {
  border: 2px dashed black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 300px;
  background-color: #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fileElem {
  display: none;
}

#fileList {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.textarea-lg {
  min-height:150px !important;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 01-.02-1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5em 1.5em;
  padding-right: 2.5em; /* Espacio para la flecha */
}
