.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Para asegurarse de que esté sobre otros elementos */
}

.selector {
	width: 80%;
	max-width: 900px;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.imagenes-container {
	display: flex;
	justify-content: flex-start; /* Alinea las imágenes al inicio */
	overflow-x: auto; /* Habilita el scroll horizontal */
	white-space: nowrap; /* Evita que las imágenes salten a la siguiente línea */
	gap: 5px; /* Espacio entre las imágenes */
	padding-bottom: 0px; /* Añadir un poco de espacio debajo */
}
	.imagenes-container::-webkit-scrollbar {
		height: 8px; /* Oculta el scrollbar en Webkit (Chrome, Safari) */
	}
	.imagenes-container::-webkit-scrollbar-thumb {
		background-color: #ccc; /* Color del thumb */
		border-radius: 4px; /* Bordes redondeados */
	}

		.imagenes-container::-webkit-scrollbar-thumb:hover {
			background-color: #4CCEC4; /* Color del thumb al pasar el mouse */
		}

.imagen {
	width: 150px;
	height: 92px;
	object-fit: cover;
	margin: 10px;
	cursor: pointer;
	transition: transform 0.2s; /* Añade un efecto de transición */
}

	.imagen:hover {
		transform: scale(1.05); /* Efecto al pasar el mouse */
	}

.selected {
	border: 2px solid #4CCEC4; /* Borde azul para la imagen seleccionada */
}

.cargador {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 10px auto 10px;
	height: auto;
}

.button {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

	.button button:nth-child(1) {
		background-color: #FE6A6B; /* Color del primer hijo */
	}

	.button button {
		background-color: #4CCEC4;
		border-radius: 4px;
		padding: 6px 10px ;
		border: none;
	}
		.button button:disabled {
			background-color: #ccc; /* Color del botón cuando está deshabilitado */
			cursor: not-allowed; /* Cursor deshabilitado */
		}

		

