body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main__registro {
  background-color: #2f3e46;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card__registro {
  width: clamp(800px, 1000px, 90%);
}
